# Preprocessing missing values using pandas
This tutorial explains how to preprocess missing values using the pandas library. 

In this tutorial we will use the dataset related to Hepatitis, which can be downloaded from [this link](https://datahub.io/machine-learning/hepatitis#pandas).

## Import data
Firstly, import data using the pandas library and convert them into a dataframe. Through the `head(10)` method we print only the first 10 rows of the dataset

In [12]:
import pandas as pd

data = pd.read_csv('hepatitis.csv')
data.head(10)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
6,51,female,False,False,True,False,True,True,False,True,True,False,False,NaN,NaN,NaN,NaN,NaN,False,die
7,23,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,NaN,NaN,NaN,False,live
8,39,female,True,False,True,False,False,True,True,False,False,False,False,0.7,NaN,48.0,4.4,NaN,False,live
9,30,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,120.0,3.9,NaN,False,live

## Identify missing values
We note that the dataset presents some problems. For example, the column value is not available for all the rows. In some cases it presents the `NaN` value, which means that the value is missing. 

In order to check whether our dataset contains missing values, we can use the function `isna()`, which returns if an cell of the dataset is `NaN` or not. Then we can count how many missing values there are for each column.

In [13]:
num_nan = data.isna().sum()
num_nan

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

Now we can count the percentage of missing values for each column, simply by dividing the previous result by the length of the dataset (`len(df)`) and multiplying per 100.

In [14]:
num_nan / len(data) * 100

age                 0.000000
sex                 0.000000
steroid             0.645161
antivirals          0.000000
fatigue             0.645161
malaise             0.645161
anorexia            0.645161
liver_big           6.451613
liver_firm          7.096774
spleen_palpable     3.225806
spiders             3.225806
ascites             3.225806
varices             3.225806
bilirubin           3.870968
alk_phosphate      18.709677
sgot                2.580645
albumin            10.322581
protime            43.225806
histology           0.000000
class               0.000000
dtype: float64

When dealing with missing values, different alternatives can be applied:
* check the source, for example by contacting the data source to correct the missing values
* drop missing values
* replace the missing value with a value
* leave the missing value as it is.

## Drop missing values
Dropping missing values can be one of the following alternatives:
* remove rows having missing values
* remove the whole column containing missing values

We can use the `dropna()` by specifying the `axis` to be considered. If we set `axis = 0` we drop the entire row, if we set `axis = 1` we drop the whole column. If we apply the function `df.dropna(axis=0)` 80 rows of the dataset remain. If we apply the function `df.dropna(axis=1)`, only the columns age, sex, antivirals, histology and class remain. However, removed values are not applied to the original dataframe, but only to the result. We can use the argument `inplace=True` in order to store changes in the original dataframe `df` (`df.dropna(axis=1,inplace=True)`).

In [16]:
data_1 = data.dropna(axis=0)
display(data_1)
data_2 = data.dropna(axis=1)
display(data_2)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
10,39,female,False,True,False,False,False,False,True,False,False,False,False,1.3,78.0,30.0,4.4,85.0,False,live
11,32,female,True,True,True,False,False,True,True,False,True,False,False,1.0,59.0,249.0,3.7,54.0,False,live
12,41,female,True,True,True,False,False,True,True,False,False,False,False,0.9,81.0,60.0,3.9,52.0,False,live
13,30,female,True,False,True,False,False,True,True,False,False,False,False,2.2,57.0,144.0,4.9,78.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,45,female,True,True,False,False,False,True,False,False,False,False,False,1.3,85.0,44.0,4.2,85.0,True,live
143,49,female,False,False,True,True,False,True,False,True,True,False,False,1.4,85.0,70.0,3.5,35.0,True,die
145,31,female,False,False,True,False,False,True,False,False,False,False,False,1.2,75.0,173.0,4.2,54.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

     age     sex  antivirals  histology class
0     30    male       False      False  live
1     50  female       False      False  live
2     78  female       False      False  live
3     31  female        True      False  live
4     34  female       False      False  live
..   ...     ...         ...        ...   ...
150   46  female       False       True   die
151   44  female       False       True  live
152   61  female       False       True  live
153   53    male       False       True  live
154   43  female       False       True   die

[155 rows x 5 columns]

As an alternative, we can specify only the column on which the dropping operation must be applied. In the following example, only missing rows related to the column `liver_big` are considered. This can be achieved through the `subset` parameter, which permits to specify the subset of columns where to apply the dropping operation.

In [34]:
data_3 = data.dropna(axis=0, subset=['liver_big'])
display(data_3)

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

Now we can check whether there are still missing values for the column `liver_big`.

Another alternative involves the dropping of columns where a certain percentage of not-null values is available. This can be achieved through the `thresh` parameter. In the following example we keep only columns where there are at least the 80% of not null values.

In [19]:
data_3['liver_big'].isna().sum()

0

## Replace missing values
A good strategy when dealing with missing values involves their replacement with another value. Usually, the following strategies are adopted:
* for numerical values replace the missing value with the average value of the column
* for categorial values replace the missing value with the most frequent value of the column 
* use other functions

In order to replace missing values, three functions can be used: `fillna()`, `replace()` and `interpolate()`.
The `fillna()` function replaces all the NaN values with the value passed as argument.
For example, for numerical values, all the NaN values in the numeric columns could be replaced with the average value. 
In order to list the type of a column, we can use the attribute `dtypes` as follows:

## Numeric columns
Firstly, we select numeric columns.

In [33]:
numeric_data = data.select_dtypes(include=['int64', 'float64'])
numeric_data.head()

   age  bilirubin  alk_phosphate   sgot  albumin  protime
0   30        1.0           85.0   18.0      4.0      NaN
1   50        0.9          135.0   42.0      3.5      NaN
2   78        0.7           96.0   32.0      4.0      NaN
3   31        0.7           46.0   52.0      4.0     80.0
4   34        1.0            NaN  200.0      4.0      NaN

Now, we can check whether the NaN values in numeric columns have been removed.

In [22]:
numeric_data.isna().sum()

age               0
bilirubin         6
alk_phosphate    29
sgot              4
albumin          16
protime          67
dtype: int64

## Categorial columns
We note that in `dtypes` the categorial columns are described as objects. Thus we can select the `object` columns. We would like to consider only boolean columns. However the `object` type includes also the column `class`, which is a string. We select all the object columns, and then we remove from them the column `class`. Then we can convert the type of the result to `bool`.

In [47]:
non_numeric_data = data.select_dtypes(include=['object'])
str_columns = [column for column in non_numeric_data.columns if type(non_numeric_data[column].iloc[0]) is str]
non_numeric_data.drop(labels=str_columns, inplace=True, axis=1)
non_numeric_data.head()

,steroid,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices
0,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False
2,True,True,False,False,True,False,False,False,False,False
3,NaN,False,False,False,True,False,False,False,False,False
4,True,False,False,False,True,False,False,False,False,False

Now we can replace all the missing values for booleans with the most frequent value. We can use the `mode()` function to calculate the most frequent value. We use the `fillna()` function to replace missing values, but we could use also the `replace(old_value,new_value)` function.

In [50]:
import numpy as np

non_numeric_data.apply(lambda x: x.replace(np.nan, x.mode().item(), inplace=True))
non_numeric_data.head()

,steroid,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices
0,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False
2,True,True,False,False,True,False,False,False,False,False
3,True,False,False,False,True,False,False,False,False,False
4,True,False,False,False,True,False,False,False,False,False

Now our dataset does not contain any missing value.

In [52]:
non_numeric_data.isna().sum().sum()

0